.buttons__container {
  text-align: center;
  max-width: 1200px;
  height: auto;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.buttons__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  padding-bottom: 50px;
}

.blue__button {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--blue-color);
  border: var(--main-text-color);
  border-radius: 4px;

  font-family: Roboto, sans-serif;
  padding: 10px 29px;

  min-width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;

  color: var(--secondary-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.item__button {
  justify-content: center;
  margin-right: 8px;

  &:last-child {
    margin-right: 0;
  }
}

.switch__button {
  padding: 6px 22px;
  border: var(--main-text-color);
  border-radius: 4px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;

  font-family: Roboto, sans-serif;
  background-color: var(--button-color);
  color: var(--primary-text-color);
  cursor: pointer;

  &:active,
  &:hover,
  &:focus,
  &:hover,
  &:focus {
    background-color: var(--blue-color);
    color: var(--secondary-text-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    transition: background-color 250ms var(--cubic-timing),
      color 250ms var(--cubic-timing), box-shadow 250ms var(--cubic-timing);
  }
}
.current--button {
  background-color: var(--blue-color);
  color: var(--secondary-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  transition: background-color 250ms var(--cubic-timing),
    color 250ms var(--cubic-timing), box-shadow 250ms var(--cubic-timing);
}
