.clients__section {
  max-width: 1200px;
  height: auto;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.clients__title {
  font-size: 28px;
  line-height: 33px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
  padding-top: 60px;
}
.clients__list {
  display: flex;
  flex-wrap: wrap;
  color: var(--primary-text-color);
  letter-spacing: 0.02em;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 50px;
}
// .clients__list {
//   display: flex;
//   flex-wrap: wrap;
//   color: var(--primary-text-color);
//   letter-spacing: 0.02em;
//   justify-content: center;
//   align-items: center;
//   padding-top: 50px;
//   padding-bottom: 95px;
// }

.client__link {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--social-link-color);
  border-radius: 4px;
  width: 170px;
  height: 92px;
  transition: border-color 250ms var(--cubic-timing);
  &:hover,
  &:focus {
    outline: none;
    border-color: var(--blue-color);
  }
}

.client__logo {
  width: 105px;
  height: 60px;
  color: inherit;
  fill: var(--social-link-color);
  transition: fill 250ms var(--cubic-timing);
  .client__link:hover &,
  .client__link:focus & {
    fill: var(--blue-color);
  }
}
// @media screen and (max-width: 449px) {
//   .clients__list {
//     display: flex;
//     flex-wrap: wrap;
//     justify-content: space-between;
//   }
// }
@media screen and (max-width: 479px) {
  .clients__section {
    max-width: 480px;
  }
  .clients__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .client__link {
    width: 210px;
  }
  .clients__item {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 480px) {
  .clients__section {
    max-width: 480px;
  }
  .clients__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .clients__item {
    flex-basis: calc((100% - 30px) / 2);
    margin-bottom: 30px;
  }
  .client__link {
    width: 210px;
  }
}
@media screen and (min-width: 768px) {
  .clients__section {
    max-width: 768px;
  }
  .clients__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .clients__item {
    flex-basis: calc((100% - 60px) / 3);
    &:nth-child(3) {
      margin-right: 0;
    }
  }
  .client__link {
    width: 226px;
  }
}
@media screen and (min-width: 1199px) {
  .clients__title {
    font-size: 36px;
    line-height: 1.17;
    padding-top: 95px;
  }
  .clients__list {
    padding-top: 50px;
    padding-bottom: 95px;
  }
}

@media screen and (min-width: 1200px) {
  .clients__section {
    max-width: 1200px;
  }
  .clients__item {
    display: inline-flex;
    &:not(:last-child) {
      margin-right: 30px;
    }
  }

  .clients__item {
    width: 170px;
    flex-basis: calc((100% - 30px * 5) / 6);
  }
}
