.footer__container {
  display: flex;
  justify-content: start;
  align-items: baseline;
  max-width: 1200px;
  height: auto;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  color: var(--primary-text-color);
  letter-spacing: 0.03em;
}

.address__item {
  margin-bottom: 9px;
}
.address__link:hover,
.address__link:focus {
  color: var(--blue-color);
}
.footer__address {
  text-align: left;
  flex-grow: 1;
  text-decoration: none;
  &:hover,
  &:focus {
    color: var(--blue-color);
  }
}
.footer {
  background-color: var(--footer-color);
  text-align: left;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__joinbox {
  display: flex;
  justify-content: start;
  flex-grow: 1;
}

.address__link {
  font-style: normal;
  text-decoration: none;
  color: var(--secondary-text-color);
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
}

.white {
  color: var(--secondary-text-color);
  fill: #ffffff;
}
.subscribe__field {
  position: relative;
  display: flex;
  flex-direction: row;
  padding-top: 0;
  margin-top: 0;
  margin-bottom: 5px;
  text-align: left;
}
.checkbox-field {
  margin-bottom: 25px;
}
.text-left {
  text-align: left;
}

.contact__form {
  display: block;
  height: 55px;
}

.contact__form--label {
  display: block;
  margin-top: 10px;
  margin-bottom: 4px;
  padding-top: 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--main-text-color);
}

.contact__form--svg {
  position: relative;
  bottom: 26px;
  left: 12px;
  fill: var(--primary-text-color);
  pointer-events: none;
  transition: fill 250ms var(--cubic-timing);
}

.contact__form--input {
  min-width: 100%;
  margin: 0;
  height: 38px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  /* padding-top: 12px;*/
  padding-bottom: 0;
  transition: border-color 250ms var(--cubic-timing);
  &:focus {
    border-color: var(--blue-color);
    outline: none;
  }
  focus + .contact__form--svg {
    fill: var(--blue-color);
  }
}

.subscribe__container {
  flex-grow: 2;
}

.contact__form--subscribe {
  position: relative;
  display: inline-block;
  width: calc(100% - 212px);
  max-width: 358px;
  height: 50px;
  border: 1px solid var(--main-text-color);
  border-radius: 4px;
  padding-left: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
  transition: border-color 250ms var(--cubic-timing);
  background-color: transparent;
  color: var(--secondary-text-color);
  margin-right: 12px;
  &:focus {
    border-color: var(--blue-color);
    outline: none;
  }
}
