.folio__section {
  min-height: 110px;
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: 0;
}

.portfolio__container {
  padding-top: 95px;
  padding-bottom: 95px;
}
.tiles__container {
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.tile__frame {
  min-width: 370px;
  flex-basis: calc((100% / 3) - 30px);
  margin-right: 30px;
  margin-bottom: 30px;
  box-shadow: 0;
  transition: box-shadow 250ms var(--cubic-timing);
  .tile__link:hover &,
  .tile__link:focus & {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}
.tiles__list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-right: -30px;
  margin-bottom: -30px;
}

.tile__item {
  min-width: 370px;
  height: 405px;
  flex-basis: calc((100% / 3) - 30px);
  margin-right: 30px;
  margin-bottom: 30px;
  &:last-child {
    margin-right: 0;
  }
}

.tile__link {
  color: inherit;
  text-decoration: none;
}

.hidden-text {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: left;
  font-family: Roboto;
  text-align: left;
  padding: 63px 24px;
  letter-spacing: 0.03em;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  font-weight: 400;
  background-color: var(--overlay-color);
  transition: transform 250ms var(--cubic-timing);
  transform: translateY(101%);
  font-size: 18px;
  line-height: 1.56;
  color: var(--secondary-text-color);
  .tile__link:hover &,
  .tile__link:focus & {
    transform: translateY(0);
  }
}

.folio__title {
  text-align: left;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
}

.folio__text {
  text-align: left;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}

.img__frame {
  position: relative;
  overflow: hidden;
}
